<div class="container">
<div class="row">

<div class="span4 columns">
	<%if (campaignId > 0) {%>
	<h3>Quick Links</h3>
	<ul class="unstyled">
		<li><a href="/campaigns/show/<%= campaignId%>">Back to Campaign</a></li>
	</ul>
	<%}%>

	<%if (isAdmin) {%>
	<h3>Administration</h3>
	<ul class="unstyled menu">
		<li>
		<a href="/users">All Users</a>
		</li>
		<li>
		<a href="/users/add" class="btn">Add a User</a>
		</li>
	</ul>
	<%}%>
</div>

<div class="span12 columns">

	<%- partial('../messages') %>

	<form method="post" action="/users/upload" enctype="multipart/form-data">
		<fieldset>
			<legend>Upload a List of Users</legend>

			<div class="clearfix">
			<label for="userList">User CSV</label>
			<div class="input"><input type="file" name="userList" /></div>
			</div>
			
			<div class="clearfix">
				<p>You can upload a CSV if you want to create a bunch of users. You need to follow the format used by the examples below. If you are going to assign teams you also need to include campaigns. Both teams and campaigns can only be referenced by their ID (in the URL). You can only assign one campaign/team per user. Account can be blank, but still needs to be a column in the CSV if you want teams and campaigns.</p>
				<a href="/assets/users.csv">Download an example CSV</a><br /><br />
				<a href="/assets/users_teams.csv">Download an example CSV with team/campaign assignment</a>
			</div>
			
			<div class="actions">
				<input class="btn" type="submit" value="Submit" />
			</div>
			
			</fieldset>
		</form>

</div>

</div>	