<div class="container">
<div class="row">

<div class="span16 columns">
	<div class="page-header">
		<h1>About Charity Campaign</h1>
	</div>
	
	<p>This application was developed using <a href="http://nodejs.org/">node.js</a> for the application, <a href="http://www.mongodb.org/">MongoDB</a> for the database, and <a href="http://twitter.github.com/bootstrap/">Bootstrap</a> for the front end.
	There is still plenty of work to do on it. <a href="mailto:hbrodbeck@gmail.com?subject=Charity Campaign">Contact me if you want to help.</a></p>
	<p><a href="http://hross.net/">hross.net</a></p>

	<img src="images/helping.png" alt="" width="700" />
</div>

</div>
</div>
