<div class="container">
<div class="row">

<div class="span4 columns">
	<h3>Quick Links</h3>
	<ul class="unstyled">
		<li><a href="/campaigns/show/<%= campaignId%>">Back to Campaign</a></li>
	</ul>

	<%if (isAdmin) {%>
	<h3>Administration</h3>
	<ul class="unstyled menu">
	<li>
	<a class="btn" href="/itemtypes/edit/<%=itemtype.id%>">Edit this Item Type</a>
	</li>
	<li>
	<a class="btn delete" href="/itemtypes/destroy/<%=itemtype.id%>>">Delete this Item Type</a>
	</li>
	</ul>
	<%}%>
</div>

<div class="span12 columns">

	<%- partial('../messages') %>
	
	<div class="page-header">
		<h2><a href="/itemtypes/show/<%= itemtype.id%>"><%=itemtype.name%></a></h2>
	</div>

	<p><%= itemtype.description%></p>

</div>	
</div>
</div>
