<div class="container">
<div class="row">

<div class="span4 columns">
	<h3>Quick Links</h3>
	<ul class="unstyled">
		<li><a href="/campaigns/show/<%= campaignId%>">Back to Campaign</a></li>
	</ul>
	
	<%if (isAdmin) {%>
	<h3>Administration</h3>
	<ul class="unstyled menu">
		<li>
		<a href="/bonuses/edit/<%=bonus.id%>" class="btn">
			Edit this Bonus
		</a>
		</li>
		<%if ('spot' == bonus.bonustype) {%>
		<li>
		<a href="/bonuses/recalculate/<%=bonus.id%>" class="btn">
			Recalculate this Bonus
		</a>
		</li>
		<%}%>
		<li>
		<a href="/bonuses/destroy/<%=bonus.id%>" class="btn delete">
			Delete this Bonus
		</a>
		</li>
	</ul>
	<%}%>
</div>

<div class="span12 columns">
	<%- partial('../messages') %>
	
	<h1 class="title"><a href="/bonuses/show/<%= bonus.id%>/<%= bonus.slug%>"><%=bonus.title%></a></h1>
	
	<p><%= bonus.description%></p>
	
	<%if ('spot' == bonus.bonustype) {%>
		<p>
		The first <%=bonus.numteams%> teams to reach <%=bonus.total%> <%=(bonus.pointsoritems == 'items')?'items':'points'%>
		<%if (bonus.name) {%>
			(<%=bonus.name%>)
		<%}%>
		</p>
	
		<%if (bonus.start) {%>
			<p>From <%=bonus.start%> to <%=bonus.end%></p>
		<%}%>
	<%} else { %>
		<p>From <%=bonus.start%> to <%=bonus.end%></p>
	
		<p>For <%=bonus.name%></p>
		
		<p>Worth <%=bonus.points%> points per item</p>
	<%}%>
	
	<div class="entry">		
		<h2>Recent Items</h2>
		<ul>
		<% for(var i=0; i < items.length; i++) {%>
			<li><%=items[i].created_at_format%> - <a href="/items/show/<%= items[i].id%>/<%= items[i].slug%>"><%=items[i].quantity%> <%= items[i].name %></a>
			(<%=(items[i].points + items[i].bonus) * items[i].quantity %> points)
			
			<%if (!items[i].admin) {%>
			 by <a href="/users/name/<%=items[i].created_by_login%>"><%=items[i].created_by_login%></a>
			 <%}%>
			</li>
		<%}%>
		</ul>
	</div>
	
	<input type="hidden" name="campaignId" id="campaignId" value="<%= bonus.campaignId%>" />
	
	<p><a href="/campaigns/show/<%= bonus.campaignId%>">Back to Campaign</a></p>
</div>
</div>
</div>
