<div class="container">
<div class="row">

<div class="span4 columns">
	<h3>Quick Links</h3>
	<ul class="unstyled">
		<li><a href="/campaigns/show/<%= campaignId%>">Back to Campaign</a></li>
	</ul>
	
	<%if (isAdmin) {%>
	<h3>Administration</h3>
	<ul class="unstyled menu">
		<li>
		<a href="/bonuses/edit/<%=bonus.id%>" class="btn">
			Edit this Bonus
		</a>
		</li>
		<%if ('spot' == bonus.bonustype) {%>
		<li>
		<a href="/bonuses/recalculate/<%=bonus.id%>" class="btn">
			Recalculate this Bonus
		</a>
		</li>
		<%}%>
		<li>
		<a href="/bonuses/destroy/<%=bonus.id%>" class="btn delete">
			Delete this Bonus
		</a>
		</li>
	</ul>
	<%}%>
</div>

<div class="span12 columns">
	<%- partial('../messages') %>
	
	<h1 class="title"><a href="/bonuses/show/<%= bonus.id%>/<%= bonus.slug%>"><%=bonus.title%></a></h1>
	
	<p><%= bonus.description%></p>
	
	<%if (bonus.completed) {%>
	<p>This bonus has been completed.</p>
	<%}%>
	
	<%if (teams && teams.length > 0) {%>
		<p>The following teams won this bonus:</p>
		
		<table class="common-table zebra-striped sortable" id="teams">
			<thead>
				<tr><th>Team</th>
			</thead>
			<tbody>
			<% for(var i=0; i < teams.length; i++) {%>
			<tr>
				<td><a href="/teams/show/<%= teams[i].id%>/<%= teams[i].slug%>"><%= teams[i].name %></a></td>
			</tr>
			<% } %>
			</tbody>
		</table>
	<%}%>

	<%if ('spot' == bonus.bonustype) {%>
		<p>
		The first <%=bonus.numteams%> teams to reach <%=bonus.total%> <%=(bonus.pointsoritems == 'items')?'items':'points'%> get <%=bonus.spotpoints%> points
		<%if (bonus.name) {%>
			(for <%=bonus.name%>)
		<%}%>
		</p>
	
		<%if (bonus.start) {%>
			<p>From <%=bonus.start%> <%if (bonus.end) {%>to <%=bonus.end%><%}%></p>
		<%}%>
		
		<%if (winners && winners.length > 0) {%>
		<h3>Items that Won this Bonus</h3>
		<table class="common-table zebra-striped sortable">
			<thead>
				<tr>
				<th>Created</th>
				<th>Item</th>
				<th>Total Points</th>
				<th>Bonus Points</th>
				</tr>
			</thead>
			<tbody>
			<% for(var i=0; i < winners.length; i++) {%>
				<tr>
					<td><%=winners[i].created_at_format%></td>
					<td><a href="/items/show/<%= winners[i].id%>/<%= winners[i].slug%>"><%=winners[i].quantity%> <%= winners[i].name %></a></td>
					<td><%=(winners[i].points + winners[i].bonus) * winners[i].quantity %></td>
					<td><%=winners[i].bonus * winners[i].quantity %></td>
				</tr>
			<%}%>
			</tbody>
		</table>
		<%}%>
		
	<%} else { %>
		<%if (bonus.start) {%>
			<p>From <%=bonus.start%> <%if (bonus.end) {%>to <%=bonus.end%><%}%></p>
		<%}%>
	
		<p>For <%=bonus.name%></p>
		
		<p>Worth <%=bonus.points%> points per item</p>
	<%}%>
	
		<%if ("spot" == bonus.bonustype) {%>
			<h3>Assigned Bonus Points</h3>
		<%} else {%>
			<h3>Recent Items</h3>
		<%}%>
		<table class="common-table zebra-striped sortable">
			<thead>
				<tr>
				<th>Created</th>
				<th>Item</th>
				<th>Total Points</th>
				<th>Bonus Points</th>
				</tr>
			</thead>
			<tbody>
			<% for(var i=0; i < items.length; i++) {%>
				<tr>
					<td><%=items[i].created_at_format%></td>
					<td><a href="/items/show/<%= items[i].id%>/<%= items[i].slug%>"><%=items[i].quantity%> <%= items[i].name %></a></td>
					<td><%=(items[i].points + items[i].bonus) * items[i].quantity %></td>
					<td><%=items[i].bonus * items[i].quantity %></td>
				</tr>
			<%}%>
			</tbody>
		</table>

	<input type="hidden" name="campaignId" id="campaignId" value="<%= bonus.campaignId%>" />
	<p><a href="/campaigns/show/<%= bonus.campaignId%>">Back to Campaign</a></p>
</div>
</div>
</div>
